* {
    border: none;
    border-radius: 0px;
    font-family: "JetbrainsMono Nerd Font";
    font-size: 12px;
    min-height: 10px;
}

window#waybar {
    border: 1px solid rgb(40, 154, 164); /*Borda azul claro */
    background-color: rgba(42, 39, 48, 0.491); /* Fundo semitransparente */
    border-radius: 10px;
    margin-top: 2px;
}

window#waybar.hidden {
    opacity: 0.2;
}

#window {
    padding-left: 10px;
    padding-right: 10px;
    border-radius: 10px;
    transition: none;
    color: transparent;
    background: transparent;
}

#workspaces {
    margin-top: 2px;
    margin-left: 8px;
    padding-left: 4px;
    padding-right: 0px;
    margin-bottom: 2px;
    border-radius: 10px;
    font-weight: bold;
    color: #F1F1F1;
    background: #0c0e23;
}

#workspaces button {
    transition: none;
    color: #7aa2f7;
    background: transparent;
    margin-right: 8px;
}

#workspaces button.persistent {
    transition: none;
    color: #7aa2f7;
    background: transparent;
    font-size: 4px;
}

#workspaces button.empty {
    color: #e9e5f0;
    font-size: 2px;
    transition: none;
    background: transparent;
}

#workspaces button.active {
    background: rgba(88, 110, 117, 0.0); /* Fundo mais suave para workspace ativa */
    color: rgb(230, 190, 12); /* Branco puro para texto ativo */
    border: none;
    padding-left: 9px;
    padding-right: 10px;
    transition: all 0.2s ease-in-out;
}
  
#workspaces button:hover {
    background: rgba(88, 110, 117, 0.3); /* Fundo suave no hover */
    color: rgba(240, 240, 240, 0.9); /* Texto branco mais claro */
    border: none; /* Sem borda no hover */
    transition: all 0.2s ease-in-out;
}
  
#workspaces button:focus {
    outline: 2px solid rgba(0, 255, 200, 1.0); /* Verde-azulado para indicar foco */
    outline-offset: -2px;
}

#network {
    margin-top: 2px;
    margin-left: 8px;
    padding-left: 10px;
    padding-right: 10px;
    margin-bottom: 2px;
    border-radius: 10px;
    font-weight: bold;
    transition: none;
    color: #e0af68;
    background: #0c0e23;
}

#pulseaudio {
    margin-top: 2px;
    margin-left: 8px;
    padding-left: 10px;
    padding-right: 10px;
    margin-bottom: 2px;
    border-radius: 10px;
    font-weight: bold;
    transition: none;
    color: #f1f1f1;
    background: #0c0e23;
}

#custom-control_universal {
    margin-top: 2px;
    margin-left: 8px;
    padding-left: 10px;
    padding-right: 10px;
    margin-bottom: 2px;
    border-radius: 10px;
    font-weight: bold;
    transition: none;
    color: #F1F1F1;
    background: #0c0e23;
}

#custom-memory_gb {
    margin-top: 2px;
    margin-left: 8px;
    padding-left: 10px;
    padding-right: 10px;
    margin-bottom: 2px;
    border-radius: 10px;
    font-weight: bold;
    transition: none;
    color: #F1F1F1;
    background: #0c0e23;
}

#custom-disk_usage {
    margin-top: 2px;
    margin-left: 8px;
    padding-left: 10px;
    padding-right: 10px;
    margin-bottom: 2px;
    border-radius: 10px;
    font-weight: bold;
    transition: none;
    color: #F1F1F1;
    background: #0c0e23;
}

#battery {
    margin-top: 2px;
    margin-left: 8px;
    padding-left: 10px;
    padding-right: 10px;
    margin-bottom: 2px;
    margin-right: 8px;
    border-radius: 10px;
    transition: none;
    font-weight: bold;
    color: #161320;
    background: #0c0e23;
}

#battery.charging, #battery.plugged {
    color: #161320;
    background-color: transparent;
}

#battery.critical:not(.charging) {
    background-color: #f35757;
    color: #161320;
    animation-name: blink;
    animation-duration: 0.5s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

@keyframes blink {
    to {
        color: #B5E8E0;
    }
}

#backlight {
    margin-top: 2px;
    margin-left: 8px;
    padding-left: 10px;
    padding-right: 10px;
    margin-bottom: 2px;
    border-radius: 10px;
    transition: none;
    color: #161320;
    background: #F8BD96;
}

#clock {
    margin-top: 2px;
    margin-left: 8px;
    padding-left: 10px;
    padding-right: 10px;
    margin-right: 4px;
    margin-bottom: 2px;
    border-radius: 10px;
    transition: none;
    font-weight: bold;
    color: #F1F1F1;
    background: #0c0e23;
}

#memory {
    margin: 6px 0px 6px 8px;
    padding-left: 10px;
    padding-right: 10px;
    border-radius: 10px;
    font-weight: bold;
    transition: none;
    color: #F1F1F1;
    background: #0c0e23;
}

#disk {
    margin-top: 2px;
    margin-left: 8px;
    padding-left: 10px;
    margin-bottom: 2px;
    padding-right: 10px;
    border-radius: 10px;
    font-weight: bold;
    transition: none;
    color: #F1F1F1;
    background: #0c0e23;
}

#cpu {
    margin-top: 2px;
    margin-left: 8px;
    padding-left: 10px;
    margin-bottom: 2px;
    padding-right: 10px;
    border-radius: 10px;
    font-weight: bold;
    transition: none;
    color: #F1F1F1;
    background: #0c0e23;
}

#tray {
    margin-top: 2px;
    margin-left: 8px;
    margin-right: 0px;
    padding-left: 10px;
    margin-bottom: 2px;
    padding-right: 10px;
    border-radius: 10px;
    font-weight: bold;
    transition: none;
    color: #F1F1F1;
    background: #0c0e23;
}

#custom-launcher {
        margin-top: 2px;
        margin-left: 8px;
        padding-left: 10px;
        padding-right: 16px;
        margin-right: 1px;
        margin-bottom: 2px;
        border-radius: 10px;
        font-size: 12px;
        transition: none;
        font-weight: bold;
        color: #f1f1f1;
        background: #0c0e23;
}

#mpris {
    margin-top: 2px;
    margin-left: 8px;
    padding-left: 10px;
    padding-right: 6px;
    margin-right: 1px;
    margin-bottom: 2px;
    border-radius: 10px;
    font-size: 12px;
    transition: none;
    font-weight: bold;
    color: #f1f1f1;
    background: #0c0e23;
}


#custom-power {
    margin-top: 2px;
    margin-left: 4px;
    padding-left: 10px;
    padding-right: 16px;
    margin-right: 1px;
    margin-bottom: 2px;
    border-radius: 10px;
    font-size: 12px;
    transition: none;
    font-weight: bold;
    color: #F1F1F1;
    background: #0c0e23;
}

#custom-power:hover {
    background: rgba(88, 110, 117, 0.3); /* Fundo suave no hover */
    color: rgba(240, 240, 240, 0.9); /* Texto branco mais claro */
    border: none; /* Sem borda no hover */
    transition: all 0.2s ease-in-out;
}

#custom-updater {
	margin-top: 2px;
    margin-left: 8px;
    padding-left: 10px;
    margin-bottom: 2px;
    padding-right: 10px;
    border-radius: 10px;
    font-weight: bold;
    transition: none;
    color: #F1F1F1;
    background: #0c0e23;
}

#custom-media {
    margin-top: 2px;
    margin-left: 8px;
    padding-left: 10px;
    padding-right: 10px;
    margin-bottom: 2px;
    border-radius: 10px;
    transition: none;
    color: #161320;
    background: #F2CDCD;
}

#taskbar {
    margin-top: 2px;
    margin-left: 8px;
    padding-left: 0px;
    padding-right: 0px;
    margin-bottom: 2px;
    border-radius: 10px;
    font-weight: bold;
    background: #0c0e23;
}

#taskbar button:hover {
    background: rgba(88, 110, 117, 0.3); /* Fundo suave no hover */
    color: rgba(240, 240, 240, 0.9); /* Texto branco mais claro */
    border: none; /* Sem borda no hover */
    transition: all 0.2s ease-in-out;
}
  
#custom-notification {
    margin-top: 2px;
    margin-left: 4px;
    padding-left: 9px;
    padding-right: 10px;
    margin-right: 8px;
    margin-bottom: 2px;
    border-radius: 8px;
    font-size: 12px;
    transition: none;
    font-weight: bold;
    color: #F1F1F1;
    background: #0c0e23;
}

#idle_inhibitor {
    margin-top: 2px;
    margin-left: 8px;
    padding-left: 10px;
    margin-bottom: 2px;
    padding-right: 16px;
    border-radius: 10px;
    font-weight: bold;
    transition: none;
    color: #F1F1F1;
    background: #0c0e23;
}

#custom-gpu {
    margin-top: 2px;
    margin-left: 8px;
    padding-left: 10px;
    padding-right: 10px;
    margin-bottom: 2px;
    border-radius: 10px;
    font-size: 12px;
    font-weight: bold;
    color: #F1F1F1;
    background: #0c0e23;
  }

  #custom-gpu_temp {
    margin-top: 2px;
    margin-left: 8px;
    padding-left: 10px;
    margin-bottom: 2px;
    padding-right: 10px;
    border-radius: 10px;
    font-weight: bold;
    transition: none;
    color: #F1F1F1;
    background: #0c0e23;
}

#custom-cpu_temp {
    margin-top: 2px;
    margin-left: 8px;
    padding-left: 10px;
    margin-bottom: 2px;
    padding-right: 10px;
    border-radius: 10px;
    font-weight: bold;
    transition: none;
    color: #F1F1F1;
    background: #0c0e23;
}    

#custom-monitor-off {
    margin-top: 2px;
    margin-left: 8px;
    padding-left: 10px;
    margin-bottom: 2px;
    padding-right: 16px;
    border-radius: 10px;
    font-weight: bold;
    transition: none;
    color: #F1F1F1;
    background: #0c0e23;
}


